<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Action_Doctor</servlet-name>
        <servlet-class>pack.Action_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>pack.database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Insurance</servlet-name>
        <servlet-class>pack.Add_Insurance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Personal</servlet-name>
        <servlet-class>pack.Add_Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_bank</servlet-name>
        <servlet-class>pack.Add_bank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor_Register_Action</servlet-name>
        <servlet-class>pack.Doctor_Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Action1</servlet-name>
        <servlet-class>pack.Login_Action1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Action</servlet-name>
        <servlet-class>pack.Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Verify</servlet-name>
        <servlet-class>pack.User_Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_Verify</servlet-name>
        <servlet-class>pack.doctor_Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>pack.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_Insert</servlet-name>
        <servlet-class>pack.Data_Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_Insert2</servlet-name>
        <servlet-class>pack.Data_Insert2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approval</servlet-name>
        <servlet-class>pack.Approval</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Action_Doctor</servlet-name>
        <url-pattern>/Action_Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Insurance</servlet-name>
        <url-pattern>/Add_Insurance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Personal</servlet-name>
        <url-pattern>/Add_Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_bank</servlet-name>
        <url-pattern>/Add_bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor_Register_Action</servlet-name>
        <url-pattern>/Doctor_Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Action1</servlet-name>
        <url-pattern>/Login_Action1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Action</servlet-name>
        <url-pattern>/Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Verify</servlet-name>
        <url-pattern>/User_Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_Verify</servlet-name>
        <url-pattern>/doctor_Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_Insert</servlet-name>
        <url-pattern>/Data_Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_Insert2</servlet-name>
        <url-pattern>/Data_Insert2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approval</servlet-name>
        <url-pattern>/Approval</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
